In [ ]:
import pandas as pd
import numpy as np

Question 2

In [4]:
def createMeterDF():
  EZone_list = ('EA1','SO1','NT1','SE2')
  meter_id = np.random.randint(100000,1000000,size=(10))
  aq_kwh = np.random.randint(10000,100000,size=(10))
  exit_zone = np.random.choice(EZone_list,size=(10))
  df = pd.DataFrame(zip(meter_id,aq_kwh,exit_zone),columns=('meter_id','aq_kwh','exit_zone'))
  return df

df = createMeterDF()
df

   meter_id  aq_kwh exit_zone
0    878119   31214       SE2
1    997526   52906       EA1
2    140449   19042       NT1
3    884376   81571       NT1
4    248224   40113       SE2
5    309739   80437       NT1
6    761001   36578       NT1
7    289013   49027       NT1
8    438507   77397       EA1
9    405344   18365       SO1

Question 3

In [ ]:
%%time
def createConsumptionDF():
  meter_list = pd.DataFrame(np.random.randint(100000,200000,size=4),columns=['meter_id'])
  date_list = pd.date_range(start='2021/1/1',periods=5)
  dl_frame = date_list.to_frame(index=False,name='date')
  meter_list['tmp'] = 1
  dl_frame['tmp'] = 1
  df = pd.merge(meter_list,dl_frame,on=['tmp'])
  df['tmp'] = df['tmp'].apply(lambda x : np.random.randint(10,100))
  df.rename(columns={'tmp':'kwh'},inplace=True)
  print(df)

createConsumptionDF()

    meter_id  kwh       date
0     193612   39 2021-01-01
1     193612   96 2021-01-02
2     193612   12 2021-01-03
3     193612   37 2021-01-04
4     193612   20 2021-01-05
5     111449   67 2021-01-01
6     111449   96 2021-01-02
7     111449   12 2021-01-03
8     111449   86 2021-01-04
9     111449   41 2021-01-05
10    144355   76 2021-01-01
11    144355   77 2021-01-02
12    144355   53 2021-01-03
13    144355   49 2021-01-04
14    144355   20 2021-01-05
15    152352   18 2021-01-01
16    152352   80 2021-01-02
17    152352   18 2021-01-03
18    152352   88 2021-01-04
19    152352   31 2021-01-05
CPU times: user 18.6 ms, sys: 2.09 ms, total: 20.6 ms
Wall time: 60.7 ms